<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Todo List</title>
  </head>
  <body>
    <h1>My Todo List</h1>
    <form action="/" method="POST">
      <input type="text" name="ele1" placeholder="Add a new task" required />
      <button type="submit">Add</button>
    </form>
    <ul>
      <% ejes.forEach(function(item) { %>
        <li>
          <form action="/delete" method="POST">
            <input type="checkbox" name="checkbox1" value="<%= item._id %>" />
            <span><%= item.name %></span>
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }); %>
    </ul>
  </body>
</html>